﻿/* IE9 needs these */
img {
  border: 0px solid white;
}
body,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#logo img {
  margin-right: 10px;
  padding-right: 0;
}
#tyler-site-title,
#tyler-site-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  line-height: 1.2;
}
/* defunctr browser detection styles */
/* unsupported-browser visibility */
.no-js .unsupported-browser,
.unsupported-browser {
  display: none;
}
/* separate style to prevent ie10 flashing browser recommendation */
.unsupported-browser {
  display: none;
}
.no-chrome .unsupported-browser,
.no-firefox .unsupported-browser,
.no-safari .unsupported-browser,
.no-ie .unsupported-browser {
  display: inherit;
}
.chrome .unsupported-browser,
.firefox .unsupported-browser,
.safari .unsupported-browser,
.ie-gt-9 .unsupported-browser {
  display: none;
}
/* container visibility */
.no-chrome .container,
.no-firefox .container,
.no-safari .container,
.ie-lt-10 .container,
.no-chrome .container-fluid,
.no-firefox .container-fluid,
.no-safari .container-fluid,
.ie-lt-10 .container-fluid {
  display: none;
}
.chrome .container,
.firefox .container,
.safari .container,
.ie-gt-9 .container,
.chrome .container-fluid,
.firefox .container-fluid,
.safari .container-fluid,
.ie-gt-9 .container-fluid {
  display: inherit;
}
/* modernizr no-js styles */
.nojs-content {
  color: #333;
  font-size: 18px;
  height: 46px;
  display: none;
}
.no-js .nojs-content {
  display: inherit;
}
.no-js .container,
.no-js .container-fluid {
  display: none;
}
/* modernizr no-cookies styles*/
.nocookies-content,
.no-js .nocookies-content,
.cookies .nocookies-content {
  display: none;
}
.no-cookies .nocookies-content {
  color: #333;
  font-size: 18px;
  height: 46px;
  line-height: 2em;
  display: inherit;
}
.no-cookies .container,
.no-cookies .container-fluid {
  display: none;
}
