﻿<div flex layout="column" layout-fill ng-init="init()">
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span>
                {{'List of People' | translate | capitalize:true}} <!--Use the capitalize filter we defined in filters.js-->
                (&nbsp; <span ng-show="totalPagedItems > 0" translate translate-n="totalPagedItems"
                              translate-plural="{{totalPagedItems}} {{'people' | translate}}">
                    1 person
                </span>&nbsp;)
            </span>
        </h2>
    </md-toolbar>
    <md-content class="md-hue-1" flex md-scroll-y>
        <div layout="column">
            <md-card ng-repeat="i in items">
                <!--items refers to the $scope.items variable in ListCtrl-->
                <md-card-content>
                    <div layout="row" layout-wrap>
                        <div flex-sm="100" flex-gt-sm="80" layout="row" layout-wrap>
                            <div flex-sm="100" flex-md="100" flex-lg="33" flex-gt-lg="25">
                                <tt-label-value label="{{'Identifier' | translate}}" value="{{i.personId}}"></tt-label-value>
                                <!--Here, the i.personId value is the personId property of the person model that has been defined
                                    in <ServiceProject>/Models/Person.cs-->
                            </div>
                            <div flex-sm="100" flex-md="50" flex-lg="33" flex-gt-lg="25">
                                <tt-label-value label="{{'First Name' | translate}}" value="{{i.firstName | capitalize}}"></tt-label-value>
                            </div>
                            <div flex-sm="100" flex-md="100" flex-lg="33" flex-gt-lg="25">
                                <tt-label-value label="{{'Last Name' | translate}}" value="{{i.lastName | capitalize}}"></tt-label-value>
                            </div>
                            <div flex-sm="100" flex-md="100" flex-lg="33" flex-gt-lg="25">
                                <tt-label-value label="{{'Middle Name' | translate}}" value="{{i.middleName | capitalize}}"></tt-label-value>
                            </div>
                        </div>
                        <div flex-sm="100" flex-gt-sm="20" layout="row" layout-align="end start">
                            <md-button class="md-raised"
                                       button-item
                                       ng-click="view(i.personId)"
                                       role="presentation"
                                       type="button">{{'View' | translate}}</md-button>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <pagination total-items="totalPagedItems"
                        ng-model="selectedPage"
                        max-size="5"
                        ng-if="totalPagedItems > resultsPerPage"
                        ng-change="onPaginationChange(selectedPage)">
            </pagination>
            <div ng-include="virtualDirectory + 'Views/Shared/Footer.html'"></div>
        </div>
    </md-content>
</div>