﻿<div layout="column" layout-fill>
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span flex>{{item.lastName}}, {{item.firstName}}</span>
            <md-button aria-label="Return to listing page" ng-click="returnToLostiing()">{{'Go Back' | translate}}</md-button>
        </h2>
    </md-toolbar>

    <md-content class="md-content-main" fles layout-fill layout="column" md-scroll--y>
        <md-card flex
                 tt-focus-order="0"
                 tabindex="0">
            <div ng-include="templateUrl + 'Card_View.html'"></div>
        </md-card>
    </md-content>
</div>
