﻿@{
  ViewBag.Title = "TylerUITrainingWebApp";
  // Omni
  ViewBag.OmniBarBaseUri = System.Web.Configuration.WebConfigurationManager.AppSettings["OmniBar:BaseUri"];
  ViewBag.OmniBarBaseUriService = System.Web.Configuration.WebConfigurationManager.AppSettings["OmniBar:BaseUriService"];
  ViewBag.OmniBarLoaderPath = System.Web.Configuration.WebConfigurationManager.AppSettings["OmniBar:LoaderPath"];
  ViewBag.OmniBarHomeLink = Url.Content("~") + "/";
  // Cache
  ViewBag.CacheManifest = "Manifest";
  ViewBag.CacheLoaderPath = Url.Content("~") + "Areas/TylerUITrainingWebApp/Views/Index/CacheControl.html";
  //
  Layout = "~/Views/Shared/_FluidLayout.cshtml";
}

@section BaseHref {
  <base href="@Url.Content("~")" />
}

@section CustomCss {
  @* Add custom css files to the bundle inside of BundleConfig.cs to add project specific styles. *@
  @* If you are unsure of how to do that, see TylerUiBundleConfig.cs for a working example. *@

  @* @Styles.Render("~/bundles/YourCustomCssBundle") *@
  @*temp fix for omni z-index*@
  @*<style>
    .omni-toolbar {
      z-index: 3;
    }
  </style>*@
}

@*bootstrap the app on initial load*@
<div class="tt-toolbar-aware-fill" id="app" flex layout="row" layout-fill ng-cloak>
  <div ng-view flex layout="row" layout-fill></div>
</div>

@section AppScripts {
  @TylerUI.Scripts.RenderDefer("~/bundles/TylerUITrainingWebAppJs")
  <script>
    window.appConfig = {
      virtualDirectory: "@Url.Content("~")",
      copyRightDate: "@DateTime.Now.Year",
      version: "@ViewContext.Controller.GetType().Assembly.GetName().Version",
      virtualDirectory: "@Url.Content("~")",
      baseUri: '@(Request.Url.Scheme + "://" + Request.Url.Authority + "/")',
      serviceUri: '@(Request.Url.Scheme + "://" + Request.Url.Authority + "/app/TylerUITrainingWebAppService/")',
      acceptLanguages: @TylerUI.TylerHtmlHelperExtensions.GetLanguages(),
      token: "@ViewBag.Token",
    };
    window.omniLoaderConfig = {
      appTitle: '@ViewBag.Title',
      appTitleLink: '@ViewBag.OmniBarHomeLink',
      appVirtualDirectory: "@Url.Content("~")",
      appToken: "@ViewBag.Token",
      //appShowNineBox: false,
      //appShowUserIcon: false,
      omniDiv: '#omni',
      omniBaseUri: '@ViewBag.OmniBarBaseUri',
      omniBaseUriService:'@ViewBag.OmniBarBaseUriService',
      omniVersion: 'v1',
    }
  </script>
}