﻿<div flex layout="column" layout-fill>
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span>List of Cards</span>
        </h2>
    </md-toolbar>
    <md-content class="md-hue-1" flex md-scroll-y>
      <div layout="column">
        <md-card ng-repeat="i in items">
            <md-card-content>
                <div layout="row" layout-wrap>
                    <div flex-sm="100" flex-gt-sm="80" layout="row" layout-wrap>
                        <div flex-sm="100" flex-md="100" flex-lg="33" flex-gt-lg="25">
                            <tt-label-value label="Value" value="{{i.value}}"></tt-label-value>
                        </div>
                        <div flex-sm="100" flex-md="50" flex-lg="33" flex-gt-lg="25">
                            <tt-label-value label="First Name" value="{{i.firstname}}"></tt-label-value>
                        </div>
                        <div flex-sm="100" flex-md="100" flex-lg="33" flex-gt-lg="25">
                            <tt-label-value label="Last Name" value="{{i.lastname}}"></tt-label-value>
                        </div>
                    </div>
                    <div flex-sm="100" flex-gt-sm="20" layout="row" layout-align="end start">
                        <md-button class="md-raised"
                                    button-item
                                    ng-click="edit($index)"
                                    role="presentation"
                                    type="button">Edit</md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <div ng-include="virtualDirectory + 'Views/Shared/Footer.html'"></div>
      </div>
    </md-content>
</div>