﻿@using System.Web.Optimization
<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js" manifest="@ViewBag.CacheManifest">
<head>
  <meta charset="UTF-8" />
  @*
    Tells IE not to use compatibility mode
    http://msdn.microsoft.com/en-us/library/ff955275(v=vs.85).aspx
    doctype is also important
    http://msdn.microsoft.com/en-us/library/ff955379(v=vs.85).aspx
  *@
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  @*mobile optimized*@
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  @*mobile full screen*@
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  @*allow pinned sites*@
  <meta name="application-name" content="Tyler Technologies" />

  @*Setting a base href per AngularJS App and include any virtual directory we are in, so templateUrl etc works*@
  @*Virtual path and host info <br/> "@Request.Url.GetLeftPart(UriPartial.Authority) + @Request.ApplicationPath" <br/> "@Url.Content("~")"*@
  @RenderSection("BaseHref", required: false)

  <title>@ViewBag.Title</title>

  @*icons - favicon, touch device icons bookmark, home screen and tab icons*@
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="shortcut icon" href="~/favicon.ico" />
  @*For third-generation iPad with high-resolution Retina display:*@
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/tylerui/images/apple-touch-icon-144x144-precomposed.png">
  @*For iPhone with high-resolution Retina display:*@
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/tylerui/images/apple-touch-icon-114x114-precomposed.png">
  @*For first- and second-generation iPad:*@
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/tylerui/images/apple-touch-icon-72x72-precomposed.png">
  @*For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:*@
  <link rel="apple-touch-icon-precomposed" href="~/Content/tylerui/images/apple-touch-icon-precomposed.png">

  @RenderSection("Includes", required: false)

  @*include browser req css directly; IE9 doesn't see these in the current bundle*@
  <link rel="stylesheet" href="~/Content/tylerui/tylerui-browser-requirements.css">

  @*Include the ng-cloak style here so it is available immediately (without having to wait on css loading)*@
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

  @Styles.Render("~/bundles/TylerUiCss")
  @*@RenderSection("CustomCss", required: false)*@

</head>
<body layout="column">
  <div id="omni" style="height:6.4rem;background:white;"></div>
  @*@Html.Raw(JSNLog.JavascriptLogging.Configure())*@
  @*@Html.Partial("_OmniBar")*@
  <div class="layout-fixed" flex layout="row">
    @RenderBody()
    @Html.Partial("_TylerUiBrowserRequirements")
    @*@Html.Partial("_Footer")*@
  </div>

  @*Load browser check bundle first to ensure the detection works in older browsers e.g. IE8*@
  @TylerUI.Scripts.RenderDefer("~/bundles/ModernizrDefunctr")
  @TylerUI.Scripts.RenderDefer("~/bundles/TylerUiJsDefer", "~/bundles/TylerUiComponentsJs")
  @*<script>
      console.log("fixme put in your Google Analytics UA- id");
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-xxxxxxx-x', 'auto');
      ga('send', 'pageview');
    </script>*@
  @RenderSection("AppScripts", required: true)
  <script src='@ViewBag.OmniBarBaseUri@ViewBag.OmniBarLoaderPath' defer='defer'></script>
  <script defer="defer">
    window.onload = function () {
      TylerUiCacheControl.start({
        loaderPath: '@ViewBag.CacheLoaderPath',
        appTitle: '@ViewBag.Title',
      });
    }
  </script></body>

</html>

