﻿<!-- One Button -->
<div layout="row" layout-align="{{flexAlign}}" ng-if="items.length === 1">
  <md-button class="md-raised"
             ng-click="clickEvent(items[0], args)"
             aria-label="Fix Me">
    <span ng-repeat="field in fields">{{items[0][field.name] | applyFilter: field.filter}} </span>
    <span ng-if="!hasValue(fields)">{{items[0]}}</span>
  </md-button>
</div>

<!-- Many Buttons - Auto Fit -->
<div button-container
     layout="row" layout-align="{{flexAlign}}"
     ng-if="items.length > 1 && !isCompact">
  <md-button class="md-raised"
             ng-click="clickEvent(item, args)"
             ng-repeat="item in items"
             aria-label="Fix Me"
             button-item>
    <span ng-repeat="field in fields">{{item[field.name] | applyFilter: field.filter}} </span>
    <span ng-if="!hasValue(fields)">{{item}}</span>
  </md-button>
  <md-menu style="padding:0;">
    <md-button class="md-raised"
               more-item
               ng-click="$mdOpenMenu()"
               aria-label="Open {{moreLabel}} interactions menu">{{moreLabel}}</md-button>
    <md-menu-content width="4">
      <md-menu-item dropdown-item
                    ng-repeat="item in items"
                    ng-if="!item.isExpanded">
        <md-button ng-click="clickEvent(item, args)" aria-label="Fix Me">
          <span ng-repeat="field in fields">{{item[field.name] | applyFilter: field.filter}} </span>
          <span ng-if="!hasValue(fields)">{{item}}</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>

<!-- Many Buttons - Compact -->
<div layout="row" layout-align="{{flexAlign}}" ng-if="items.length > 1 && isCompact">
  <md-menu style="padding:0;">
    <md-button class="md-raised"
               ng-click="$mdOpenMenu()"
               aria-label="Open {{moreLabel}} interactions menu">{{moreLabel}}</md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="item in items">
        <md-button ng-click="clickEvent(item, args)" aria-label="Fix Me">
          <span ng-repeat="field in fields">{{item[field.name] | applyFilter: field.filter}} </span>
          <span ng-if="!hasValue(fields)">{{item}}</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>