﻿<!-- 
legacy omni bar for transition purposes or special cases 
normally omni will be injected from /app/TylerUiOmniBar
-->
<md-toolbar class="omni-toolbar md-default-theme md-whiteframe-z2" id="omnibar" ng-controller="omniCtrl" ng-cloak>
    <div class="md-toolbar-tools">
        <a href="~/">
            <md-icon md-svg-src="{{getBrand()}}" style="height:3.7rem; width:3.7rem;"></md-icon>
            <span class="product" show-gt-sm hide-sm style="vertical-align:bottom">@ViewBag.Title</span>
            <span class="product product-sm" hide-gt-sm style="vertical-align:bottom">@ViewBag.Title</span>
        </a>
    <div flex></div>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" show-gt-sm hide-sm aria-label="Apps">
                <md-icon md-menu-origin md-font-icon="fa-th" class="fa"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item ng-repeat="app in omnibar[0].apps">
                    <md-button ng-click="">
                        <md-icon md-svg-src="{{getIcon(app.iconSrc)}}"></md-icon>
                        {{app.name}}
                    </md-button>
                </md-menu-item>
                @*<div layout="row" layout-wrap layout-padding>
                  <div >
                  </div>
                </div>*@
            </md-menu-content>
        </md-menu>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" hide-gt-sm aria-label="Settings">
                <md-icon md-font-icon="fa-bars" class="fa"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="signout($event)">
                        <p>Logout</p>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu md-position-mode="target-right target">
            <!-- md-offset="0 40"-->
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" show-gt-sm hide-sm aria-label="User Settings">
                <md-icon md-menu-origin md-font-icon="fa-user" class="fa"></md-icon>
            </md-button>
            <md-menu-content width="4" z-order="100">
                <md-button ng-click="signout($event)">
                    <p>Logout</p>
                </md-button>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<script>
  window.omniBarConfig = { "virtualDirectory": "@Url.Content("~")" };
</script>