﻿<!-- center for IE9 since it ignores bootstrap 3 -->
<center>

  <!-- use noscript and also keep outside of controller to avoid flash in Safari and IE (can't use ng-cloak because there is no js it won't uncloak-->
  <noscript>
    <span class="nojs-content">
      <h2>JavaScript must be enabled in order for you to use this application.</h2>
      <p>However, it seems JavaScript is either disabled or not supported by your browser.</p>
      <p>To use this application, enable JavaScript by changing your browser options, then try again.</p>
    </span>
  </noscript>

  <span class="nocookies-content">
    <h2>Cookies must be allowed.</h2>
    <p>Your browser is currently set to block cookies. Your browser must allow cookies before you can use this application.</p>
    <p>Cookies are small text files stored on your computer that tell this application when you're signed in. To learn how to allow cookies, see online help in your web browser.</p>
  </span>

  <div class="unsupported-browser center-block">
    <p></p>
    <h2>You are using a web browser which this application no longer supports.</h2>

    <p>
      We support the current and previous major releases of Google Chrome, Firefox, Internet Explorer, and Safari on a rolling basis.
      Each time a new version is released, we begin supporting that version and stop supporting the third most recent version.
    </p>

    <h2>Supported Browsers</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <div>
          <label>Chrome for Business</label>
        </div>
        <div>
          <a href="http://www.google.com/intl/en/chrome/business/browser/">
            <img src="~/Content/tylerui/images/browsers/chrome_64x64.png" width="64" height="64" />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div>
          <label>Firefox</label>
        </div>
        <div>
          <a href="http://www.getfirefox.com/">
            <img src="~/Content/tylerui/images/browsers/firefox_64x64.png" width="64" height="64" />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div>
          <label>Internet Explorer</label>
        </div>
        <div>
          <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
            <img src="~/Content/tylerui/images/browsers/internet-explorer_64x64.png" width="64" height="64" />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div>
          <label>Apple Safari</label>
        </div>
        <div>
          <a href="http://www.apple.com/safari/">
            <img src="~/Content/tylerui/images/browsers/safari_64x64.png" width="64" height="64" />
          </a>
        </div>
      </div>
    </div>

    <p>
      <h4> Internet Explorer 9 Users </h4>
      Internet Explorer 11 launched on October 17, 2013, and as a result, we've discontinued support for Internet Explorer 9.

    <p>
      Organizations that depend on old versions of Internet Explorer may want to consider a dual browser strategy.
  </div>


</center>
