﻿<footer role="contentinfo" flex layout="row">
  <div layout="column" show-sm hide-gt-sm layout-padding layout-wrap flex>
    <div style="margin-bottom:0.5rem;">
      <img class="pull-left noprint" ng-src="{{virtualDirectory}}Content/tylerui/images/empowered.png" />
    </div>
    <div>
      <small class="pull-left noprint">&copy; {{footer.copyRightDate}} Tyler Technologies, Inc. | All Rights Reserved</small>
      <br />
      <small class="pull-left noprint">Version: {{footer.version}}</small>
    </div>
  </div>
  <div layout="row" hide-sm layout-padding layout-wrap flex>
    <div flex-sm="100" flex-gt-sm="50">
      <small class="pull-left noprint">&copy; {{footer.copyRightDate}} Tyler Technologies, Inc. | All Rights Reserved</small>
      <br />
      <small class="pull-left noprint">Version: {{footer.version}}</small>
    </div>
    <div flex-sm="100" flex-gt-sm="50">
      <img class="pull-right noprint" ng-src="{{virtualDirectory}}Content/tylerui/images/empowered.png" style="width:auto" />
    </div>
  </div>
</footer>