﻿<md-card-content>
    <div>
        <div aria-label="Date of Birth">
            <tt-label-value label="{{'Date of Birth' | translate}}" value="{{item.dateOfBirth[1] | date:'shortDate'}}"></tt-label-value>
        </div>
    </div>

    <div ng-repeat="m in item.intents" ng-show="item.intents.length > 0">
        <md-button class="md-raised"
                   button-item
                   ng-click="handleIntent(m)"
                   role="presentation"
                   typeof="button"
                   aria-label="{{m.helpText}}">{{m.label}}</md-button>
    </div>
</md-card-content>
