﻿<div button-container style="width:100%;">
  <div class="row">
    <div class="col-xs-12">

      <div class="btn-group {{alignButtonGroup}}" role="group" ng-click="$event.stopPropagation()">
        <button button-item
                class=" btn btn-default"
                ng-click="item.action()"
                ng-repeat="item in data.items"
                role="presentation"
                type="button">
          {{item.name}}
        </button>

        <div aria-hidden="true" class="btn-group" role="group" dropdown is-open="dropdownOpen">
          <button aria-expanded="false"
                  aria-haspopup="true"
                  class="btn btn-default dropdown-toggle"
                  dropdown-toggle
                  more-item
                  type="button">
            More <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu">
            <li dropdown-item ng-repeat="item in data.items" role="menuitem">
              <a ng-click="item.action()">{{item.name}}</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</div>