﻿<md-divider></md-divider>
<div layout="row" id="dayview-allday">
  <div class="dayview-allday-label" ng-class="{'small-screen': !gtSm}">
    all day
  </div>
  <div class="calendar-cell all-day" layout="column" flex>
    <div ng-repeat="displayEvent in allDayEvents"
         class="calendar-event all-day">
      <md-button ng-click=" eventSelected({event:displayEvent.event})"
                  class="calendar-event-inner all-day md-primary md-raised md-hue-3"
                  layout="column">
        <div flex>{{displayEvent.event.title}}</div>
      </md-button>
    </div>
  </div>
  <!--<div ng-if="allDayEventGutterWidth>0" ng-style="{width:allDayEventGutterWidth*0.1+'rem'}"></div>-->
</div>
<md-divider style="margin-bottom:0.8rem;"></md-divider>
<md-divider></md-divider>
<div flex id="dayview-agenda">
  <div ng-repeat="tm in rows track by $index" layout="row">
    <div class="calendar-hour-column" ng-class="{'small-screen': !gtSm}">
      {{$index<12?($index === 0?12:$index)+'am':($index === 12?$index:$index-12)+'pm'}}
    </div>
    <div class="calendar-cell" 
         ng-class="{'first-row':$first}"
         flex>
      <div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
        <div ng-repeat="displayEvent in tm.events"
              class="calendar-event"
              ng-style="{left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 3.8*(displayEvent.endIndex-displayEvent.startIndex)+'rem', 'z-index': rows.length - $parent.$parent.$index}">
          <md-button class="calendar-event-inner md-primary md-raised md-hue-3"
                      layout-align="center start"
                      layout="column"
                      ng-click="eventSelected({event:displayEvent.event})">
            <div flex layout-fill>{{displayEvent.event.title}}</div>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
<md-divider></md-divider>