﻿<md-card id="facet-{{ttHeader}}"
         tt-focus-container
         tt-focus-order="{{$index}}"
         tt-on-end-of-container="containerEnd(facet)"
         tt-on-start-of-container="containerBegin(facet)">
    <header class="tt-subheader"
            style="margin:1.6rem 1.6rem 0 1.6rem;">
        {{ttHeader}}
    </header>
    <md-list ng-if="items.length <= 10">
        <md-list-item ng-if="isShowingMore || $index < 5"
                      ng-repeat="item in items">
            <md-checkbox aria-label="{{hasValue(item.selected) ? 'Unselect' : 'Select'}} {{hasValue(ttAriaLabel) ? ttAriaLabel : 'Checkbox'}}"
                         class="md-primary"
                         ng-change="setSelectedItem(item); ttClickEvent(item, ttArgs);"
                         ng-model="item.selected"
                         tt-focus-order="0"
                         tt-focus-item></md-checkbox>
            <div class="md-list-item-text"
                 flex
                 layout="row">
                <div flex>
                    <span ng-repeat="field in ttFields">
                        {{ childField = (field.name | splitBindingFilter:item) | applyFilter: field.filter}}
                    </span>
                    <span ng-if="!hasValue(ttFields)">{{item}}</span>
                </div>
                <div ng-show="hasValue(item.count)">
                    <span class="badge">{{item.count}}</span>
                </div>
            </div>
        </md-list-item>
        <md-list-item aria-label="{{hasValue(isShowingMore) ? 'Show Less' : 'Show More'}}"
                      ng-click="toggleMore()"
                      ng-if="items.length > 5"
                      tt-focus-item
                      tt-focus-order="1">
            <div ng-if="!hasValue(isShowingMore)"><b>{{ttMoreLabel}}</b></div>
            <div ng-if="hasValue(isShowingMore)"><b>{{ttLessLabel}}</b></div>
        </md-list-item>
    </md-list>

    <!-- more than threshold -->
    <md-list ng-if="items.length > 10">
        <md-list-item ng-repeat="item in filteredBySelectedItems = ( items | showSelected )">
            <md-checkbox aria-label="Unselect {{hasValue(ttAriaLabel) ? ttAriaLabel : 'Checkbox'}}"
                         class="md-primary"
                         ng-change="ttClearEvent(item, ttArgs); clearSelectedItem();"
                         ng-model="item.selected"
                         tt-focus-item
                         tt-focus-order="0"></md-checkbox>
            <div class="md-list-item-text"
                 flex
                 layout="row">
                <div flex>
                    <span ng-repeat="field in ttFields">
                        {{ childField = (field.name | splitBindingFilter:item) | applyFilter: field.filter}}
                    </span>
                    <span ng-if="!hasValue(ttFields)">{{item}}</span>
                </div>
                <div ng-show="hasValue(item.count)">
                    <span class="badge">{{item.count}}</span>
                </div>
            </div>
        </md-list-item>
    </md-list>

    <md-input-container ng-if="items.length > 10"
                        style="padding-left:1.5rem;padding-right:1.5rem;">
        <label>Find More...</label>
        <input ng-model="searchText.query"
               type="text">
    </md-input-container>

    <md-list ng-if="items.length > 10">
        <md-list-item ng-if="$index < 10"
                      ng-repeat="item in filteredByUnselectedItems = (items | hideSelected | filter: searchText.query)">
            <md-checkbox aria-label="Select {{hasValue(ttAriaLabel) ? ttAriaLabel : 'Checkbox'}}"
                         class="md-primary"
                         ng-change="setSelectedItem(item); ttClickEvent(item, ttArgs);"
                         ng-model="item.selected"
                         tt-focus-item
                         tt-focus-order="1"></md-checkbox>
            <div class="md-list-item-text"
                 flex
                 layout="row">
                <div flex>
                    <span ng-repeat="field in ttFields">
                        {{ childField = (field.name | splitBindingFilter:item) | applyFilter: field.filter}}
                    </span>
                    <span ng-if="!hasValue(ttFields)">{{item}}</span>
                </div>
                <div ng-show="hasValue(item.count)">
                    <span class="badge">{{item.count}}</span>
                </div>
            </div>
        </md-list-item>
        <md-list-item ng-if="filteredByUnselectedItems.length - filteredBySelectedItems.length > 10">
            <div>
                <b>{{filteredByUnselectedItems.length - filteredBySelectedItems.length}} More ...</b>
            </div>
        </md-list-item>
    </md-list>
</md-card>