﻿<span class="{{cssClass}}" ng-show="hasValue(items) && items.length > 0">
  <span class="tt-label">{{label}} <span class="badge" ng-show="items.length > limit">{{items.length}}</span></span> <br />
  <ng-include src="getItemContentUrl()" ng-repeat="item in items" ng-if="showItem($index)"></ng-include>
  <i class="tt-label" ng-if="limit > 0 && items.length > limit">{{items.length - limit}} More...</i>
</span>