﻿<span class="tt-value" ng-repeat="field in fields">{{ childField = (field.name | splitBindingFilter:item) | applyFilter: field.filter}} </span>
<span class="tt-value" ng-if="!hasValue(fields)">{{item}}</span>
<br />