﻿<label class="control-label">Notes</label>
<span class="badge" style="margin-left:0.5rem;" ng-if="notes.length > 0">{{notes.length}}</span>
<button class="btn btn-default" ng-click="startAddCommand()" style="width:100%">Add Note</button>

<div class="margin-top" ng-if="notes.length > 0">
  <ng-include src="itemTemplate"
              ng-repeat="note in filteredNotes = (notes | orderBy: '-date')"
              ng-if="$index < displayThreshold">
  </ng-include>
  <button class="btn btn-default full-width"
          type="button"
          ng-if="filteredNotes.length > displayThreshold"
          ng-click="moreCommand()">
    <ng-pluralize count="filteredNotes.length - displayThreshold" when="{'one': '{} More note...', 'other': '{} More notes...'}"></ng-pluralize>
  </button>
</div>